<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#af9676" />
    <meta name="description" content="Solver" />
    <title>Recaptcha</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="root">
      <div id="recaptcha-demo" data-action="action" class="g-recaptcha" data-sitekey="{{sitekey}}" data-callback="__injectionHandler" data-theme="dark">
      </div>
    </div>
  </body>
</html>
